/* Center whole phone */
.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #0f3d2e, #000);
}

/* PHONE BODY */
.login-container {
  width: 340px;
  height: 420px;
  background: #000;
  border-radius: 34px;
  border: 4px solid #444;
  padding: 16px;
  box-shadow: 0 0 40px #00ffcc;
  font-family: "Courier New", monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER */
.login-top {
  text-align: center;
  font-size: 14px;
  padding: 8px;
  border-bottom: 1px solid #444;
  color: #ddd;
}

/* SCREEN */
.login-screen {
  flex: 1;
  margin: 16px 0;
  background: #c9ffd6;
  color: #0b2e13;
  border-radius: 10px;
  padding: 16px;
  font-size: 15px;
  text-align: center;
  box-shadow: inset 0 0 8px #00aa55;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}


.login-text {
  font-weight: bold;
}

/* INPUT */
.login-screen input {
  width: 100%;
  padding: 10px;
  border: 2px solid #0b2e13;
  border-radius: 6px;
  background: #eaffea;
  color: #0b2e13;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  height: 48px;             
  box-sizing: border-box;   
}


.login-screen input::placeholder {
  color: #4b7c5a;
}

/* BUTTON */
.login-btn {
  background: linear-gradient(to right, #00ff99, #00aa55);
  border: none;
  border-radius: 16px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 0 12px #00ff99;
}
